body{
    margin: 0;
}

.header1{
    width:100% ;
    height: 90px; /* change size */
    background-color: beige; /* change it to black later */
    display: flex;
    align-items:center;
    justify-content: center;
    position: relative;
}
.header1_content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header1_content ul{
    margin :0;
    padding: 0;
    display:flex;
    gap: 50px;
}
.header1_content li{
    margin: 0;
    list-style-type: none;
    padding: 2px 0;
    margin: 10px 0;
}
.logo img{
    height: 50px;
}
.banner1{
    width: 100%;
}
.banner1 img{
    width: 100%;
    height: 500px;
    display: block;
}
/* section 1 */
.middle1{
    width: 100%;
    min-height: 350px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro_text{
    width: 35%;
    padding-left: 0;

}
.intro_text h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
}
.intro_text p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}
.question{
    margin-top: 30px;
    font-weight: bold; 
}
/* Search box */
.introsearch{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introsearch input{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px 0 0 8px;
    outline: none;
}

.introsearch button{
    padding: 12px 20px;
    border: none;
    background-color: #2d1b3d;
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
/* section 2 */
.product{
    width:80%;
    background-color: #fff;
    padding: 60px 100px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.product_text{
    width: 35%;
    padding-right: 50px;
    align-items: center;
}
.product_text h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.product_text p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #333;   
}
.product_img{
    width: 50%;
}
.product_img img{
    width: 100%;
    max-height: 400px;
    object-fit: contain;
}
.product_img h3{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.product_img p{
    font-size: 20px;
    text-align: center;
}
.btn{
    color: #3a3e3b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;

    background-color: #698f3f;
    outline: 2.5px solid #698f3f;
    outline-offset: 4px;
    padding: 0.5rem 0.5rem;
}
.btn:link, .btn:visited{
    color: #3a3e3b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: calc(00.7rem - 0.5rem);
}
.btn:hover{
    color: #e5e5e5;
}
footer{
    width: 100%;
}
footer img{
    width: 100%;
}